<%- include('header') -%>
    <div class="h-100">
    <table class="table table-dark  mt-5">
  <thead>
      <th scope="col" class="text-center"><h1>Shapes List</h1></th>
  </thead>
  <tbody>
 
  <% let shapesArray = [] %>
  <% let uniqueShapes = [] %>
<% for(let i=0;i<sightingInfo.length;i++) {%>
<% shapesArray.push(sightingInfo[i].shape) %>
<% uniqueShapes = [... new Set(shapesArray)] %>
            <% } %>
        <% for(let j=0;j<uniqueShapes.length;j++) {%>
      <tr>
                    <td class="text-center"><a href="/shape/<%=uniqueShapes[j]%>"><%= uniqueShapes[j]%></a></td>
     <% } %>
     </tr>       
  </tbody>
</table>
</div>
<%- include('footer') -%>
