a {
  color: white;
  text-decoration: none;
}

body {
  background-color: grey;
  font-family: "Orbitron", sans-serif;
}

li {
  list-style-type: none;
}

button {
  border: none;
  outline: none;
}
